<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>books</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>bs.controllers.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customer/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorServlet</servlet-name>
    <servlet-class>bs.controllers.AuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorServlet</servlet-name>
    <url-pattern>/author/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>bs.controllers.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/book/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublisherServlet</servlet-name>
    <servlet-class>bs.controllers.PublisherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublisherServlet</servlet-name>
    <url-pattern>/publisher/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAuthServlet</servlet-name>
    <servlet-class>bs.controllers.UserAuthServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthServlet</servlet-name>
    <url-pattern>/UserAuth/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRoleServlet</servlet-name>
    <servlet-class>bs.controllers.UserRoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRoleServlet</servlet-name>
    <url-pattern>/UserRole/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>bs.controllers.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/Cart/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfitServlet</servlet-name>
    <servlet-class>bs.controllers.ProfitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfitServlet</servlet-name>
    <url-pattern>/Profit/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TopBooksServlet</servlet-name>
    <servlet-class>bs.controllers.TopBooksServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopBooksServlet</servlet-name>
    <url-pattern>/Top/top.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>bs.controllers.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/Search/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RatingServlet</servlet-name>
    <servlet-class>bs.controllers.RatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingServlet</servlet-name>
    <url-pattern>/Rating/*</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>CustomerAnalysisServlet</servlet-name>
    <servlet-class>bs.controllers.CustomerAnalysisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAnalysisServlet</servlet-name>
    <url-pattern>/CustomerAnalysisServlet/*</url-pattern>
  </servlet-mapping>
</web-app>